@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 18%;
    
    --primary: 44 77% 54%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 222 47% 20%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    
    --accent: 0 0% 96%;
    --accent-foreground: 222 47% 20%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 44 77% 54%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-input;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-grid-primary\/10 {
    background-image: linear-gradient(to right, hsl(var(--primary) / 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--primary) / 0.1) 1px, transparent 1px);
    background-size: 4rem 4rem;
  }
} 